body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
    scroll-behavior: smooth;
}

.header {
    background-color: #004080;
    color: white;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header nav ul li {
    margin: 0 15px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header nav ul li a:hover {
    text-decoration: underline;
}

.container {
    background: #fff;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}
h1{
    color:#f0f8ff;
}
 h2, h3 {
    color: #004080;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p, ul {
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #004080;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
